*{
    color: #808080;
    font-family: sans-serif;
    margin: 0 auto;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.main_content{

}

.menu-top{
    list-style: none;
    text-align: center;
}

.menu-top-item{
    display: inline-block;
    margin-right: 70px;
}

.menu-top-item:last-child{
    margin-right: 0;
}

.menu-top-link{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    color:#16a085 ;
    line-height:80px ;
}

.main-content-article{
    background: azure;
    text-align: center;
}
.article-title{
    font-size: 22px;
    font-weight: 900;
    line-height: 80px;
}
.article-text{
    font-size: 16px;
    font-weight: 900;
    margin:20px 0;
}

p.article-text{
    line-height: 30px;
}

.article-btn{
    background-color: #16a085;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 50px;
    text-decoration: none;
    display: inline-block;
    width: 192px;
    height: 51px;
    font-family: GothamRounded;
    box-sizing: border-box;


}
.footer-text{
    text-align: right;
    font-size: 16px;
    font-weight: 900;
    line-height: 80px;
}
footer {
    text-align: right;
    font-size: 16px;
}



