*{
    color: #808080;
    font-family: sans-serif;
    margin: 0 auto;

}

.container {
    width: 1280px;
    margin: 0 auto;
}

.first_content{
    text-align: left;
    font-size: 80px;
    font-weight: 400;
}
.first-contect-header{
    color: #000000;
}
.first-contect-colortext {
    color: #4bcaff;
}

.menu-top{
    list-style: none;
    text-align: center;
    width: 1280px;
    border: 2px double #35444f;
    background-color: #35444f;
    width: 1280px;
    height: 69px;
}

li:hover{
    background-color: darkblue;
}

.menu-top-iteam{
    display: inline-block;
    padding-left: 0;
}

.menu-top-colortext{
    background-color: #222f3a;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 28px;
    padding-bottom: 18px;
}

.menu-top-link{
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: #ffff;
    line-height: 20px;
    display: inline-block;
    padding: 30px 40px;
}

.menu-top-left {
    list-style: none;
    text-align:left;
    border: 2px double black;
    margin-top: 60px;
    margin-left:0;
    width: 300px;
    height: 399px;
    display: block;
    padding-left: 0;
}


.menu-top-left-link{
    font-size: 26.99px;
    font-weight: 400;
    text-decoration: none;
    color: #495863;
    line-height: 60px;
}

.menu-top-left-link-colortext{
    color: #000000;
    background: #485863;
    margin:auto;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.main-content-photo{
    border: 2px double black;
    width: 885px;
    height: 529px;
    margin-left: 433px;
    margin-top: -404px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/top-img-animal.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size;
}
.main-content-photo:hover{
    background-size: 100%;
    background-position: left;
}

.main-content-article {
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2c2b2b;
    text-align: left;
    margin-left: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 30px;
}

p.article-text{
    margin-bottom: 20px;
}

.menu-top-footer{
    list-style: none;
    text-align: left;
    border: 2px double grey;
    width: 1280px;
    height: 64px;
    background:grey;
    margin-bottom: 60px;
}

.menu-top-footer-iteam{
    display: inline-block;
    margin: 10px;
}
.menu-top-footer-iteam:last-child{
    margin-left: 200px;
}

.menu-top-footer-link{
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    color: #010000;
}

.menu-top-footer-colortext{
    color: #3181a6;
    font-size: 28px;
    font-weight: 400;
}

.menu-top-footer-sizetext{
    font-size: 24px;
    color: #010000;
    font-weight: 400;

}

