*{
    margin: 0 auto;
}

h1:hover{
    background-color:darkgray;
}

.first-content{
    width: 1280px;
}

.first-content-header{
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
}

.first-content-colortext{
    color: #4bcaff;
}

.menu-top-header{
    list-style: none;
    text-align: center;
    border: 2px double #35444f;
    background-color: #35444f;
    height: 69px;
}

.menu-top-header-iteam{
    display: inline-block;
    padding-left:0;
}

.menu-top-header-link{
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    padding: 30px 50px;
    display: inline-block;
    color: #ffffff;
    line-height: 10px;
}

.menu-top-header-colortext{
    background-color: #222f3a;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 22px;
    padding-bottom: 22px;
}

li:hover{
    background-color: darkgrey;
}

.main-content{
    width: 1280px;
}
 .menu-left{
     list-style: none;
     margin-left: 0;
     border: 1px double black;
     width: 344px;
     height: 399px;
     margin-top: 60px;
     padding-left: 0;
 }

 .menu-left-iteam{
     display: block;
 }

 .menu-left-link{
     color:  #485863;
     font-size: 26.99px;
     font-weight: 400;
     text-decoration: none;
     line-height: 80px;
     text-align: left;
 }

 .menu-left-colortext{
     border: 1px double #485863;
     background: #485863;
     color: black;
     padding-right: 195px;
     padding-top: 23px;
     padding-bottom: 23px;
 }

 .main-content-photo{
     background-image: url("../img/top-img (3).png");
     background-repeat: no-repeat;
     background-position: center;
     border: 1px double black;
     width: 885px;
     height: 529px;
     margin-right: 0;
     margin-top: -400px;
 }

.main-content-photo:hover{
    background-size: 100%;
    background-position: left,center;
}

.main-content-article{
    color:  #2c2b2b;
    font-size: 18px;
    width: 815px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Myriad Pro',sans-serif;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.article-text{
    margin-top:20px;
}

.end-content{
    width: 1280px;
}

.menu-footer{
    list-style: none;
    border: 1px double grey;
    width: 1280px;
    height: 64px;
    background:grey;
    margin-bottom: 60px;
}

.menu-footer-iteam{
    display: inline-block;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-footer-iteam:last-child {
    margin-left: 200px;
}

.menu-footer-colortext{
    color: #3181a6;
    font-size: 28px;
    font-weight: 400;
}

.menu-footer-link{
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    color: #010000;
    margin-top: 10px;


}